*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*js title first pg*/
.home-title{
    display: block;
    text-align: center;
    color:rgb(144, 126, 126) ;
    font-size: 40px;
    margin: 50px;
}
/*the info about the quiz*/
.paragraph{
    text-align: center;
    font-size: 25px;
    padding: 10px;
 
}
/*initials input*/
#fname{
    width: 100px;
height: 50px;
margin: 20px;
color: rgb(0, 92, 200);
font-size: 25px;
}
/*the clss to show the first pg*/
.show {
    display: block;
}
/*clss to hide any thing else except the first pg*/
.hide {
    display: none;
}

/*the main container of questions*/
.quiz-app{
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}

/*category and questions count*/
.quiz-app > .quiz-info{
   display: flex;
   background-color: #fff;
   padding: 20px; 
}
/*js category*/
 .category{
    font-size: 20px;
    margin-bottom: 20px;
}


/*the question area*/

.quiz-app .quiz-area{
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
}
/*the qustion section*/
 .quiz-area h2{
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(144, 126, 126);

}
 /*answers area*/
 ul{
   list-style: none; 
   margin: 20px;
    border-top: 1px solid #dfdfdf;
    
 }
/*padding and margin for each answer*/
 .answer{
 
   padding: 15px; 
   margin: 10px;  
   
 }
 

 /*the radio input*/
 input{
    cursor: pointer;
 }
 /*the answers*/
label{
    cursor: pointer;
    margin-left: 15px;
    font-size: 20px;

 
 }
 /*hover over the answers*/
label:hover{
    color: rgb(0, 92, 200);
}
 /* submit and start button*/
  .submit-button, #start-btn{
    background-color: rgb(144, 126, 126);
    color: #fff;
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;

 }
/*hover over the buttons*/
.submit-button:hover, #start-btn:hover{
    border: 5px solid #dfdfdf;
    background-color: #f8f8f8;
    color: rgb(144, 126, 126);
}


/*timer*/
.countdown{
   text-align: right;
    font-size: 25px;
    color: rgb(144, 126, 126);  
}


    
