*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*the main container*/
.quiz-app{
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}

/*category and questions count*/
.quiz-app > .quiz-info{
   display: flex;
   background-color: #fff;
   padding: 20px; 
}

.quiz-app .quiz-info .category{
    flex: 1;
}

.quiz-app .quiz-info .count{/*move the timer to the right*/
    flex: 1;
    text-align: right;
}
/*the question area*/

.quiz-app .quiz-area{
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
}
 .quiz-area h2{
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(144, 126, 126);

}
 /*answers area*/
 ul{
   list-style: none; 
   margin: 20px;
    border-top: 1px solid #dfdfdf;
 }

li .answer{
   background-color:#f9f9f9;
   padding: 15px; 
   margin: 10px;
   border-bottom: 1px solid #dfdfdf;
   
 }
/*adding lines between the answer*/
 

 
 input{
    cursor: pointer;
 }
label{
    cursor: pointer;
    margin-left: 5px;
 }

 /*button*/
  .submit-button{
    background-color: rgb(144, 126, 126);
    color: #fff;
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;

 }
.submit-button:hover{
    border: 5px solid #dfdfdf;
    background-color: #f8f8f8;
    color: rgb(144, 126, 126);
}
.countdown{
   
    border: 1px solid rgb(144, 126, 126);
    font-size: 25px;
    color: rgb(144, 126, 126);  
}

.show {
    display: block;
}

.hide {
    display: none;
}
